$menu-bg: #e4f3fb;
$links-color: #326bb1;
$labels-color: #c0e3f4;
$accent-orange: #ffa900;
$desc-info: #888888;
$accent-bg-blue: #262F36;
$accent-orange: #ffa900;
$stars-color: #ff7c1d;

*, ::after, ::before {
  box-sizing: border-box;
}
*{
  margin: 0; padding: 0;
}
img {
  max-width: 100%;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  background: rgba(59, 79, 177, 0.04);
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
}

.form-control:focus {
  border-color: $accent-orange;
}
.form-group {
  position: relative;
}
.field-description {
  position: absolute;
  color: #ffa900;
  font-size: 12px;
  margin: 0;
  right: 0;
  bottom: -18px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin: 0;
  padding: 0;
}
.bg-bot{
  background:  url("../img/bg-bottom2.jpg") bottom no-repeat
}

.karkas {
  display: block;
  position: relative;
  width: 990px;
  min-height: 1024px;
  margin: 0 auto;
  z-index: 10;
}
.header{
  display: block;
  position: relative;
}
.main-menu {
  background: $accent-bg-blue;
  min-height:auto;
  ul {
    text-align: center;
  }
  li {
    display: inline-block;
  }
  .nav {
    list-style: none;
    flex-wrap: wrap;
    a {
      color: #fff;
      font-size: 16px;
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      font-weight: bold;
      &:hover,
      &.active {
        background-color: $accent-orange;
        color: #fff;
      }
    }
  }
}

.search{
  position: relative;
  img{
    display: block;
    margin: -3px 0 0 0;
    position: absolute;
  }
}
#search-field{
}
.head-center a {
  font-weight: bold;
  margin-top: 5px;
  background: #ffa900;
  padding: 3px;
}

.header-contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 600;
  span {
    display: block;
    width: 100%;
    font-weight: bold;
    color: $accent-orange;
  }
}
.header-search {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  input {
    border: 1px solid #262F36;
    background-color: rgba(255, 191, 0, 0.14);
    padding: 0 30px 0 10px;
    width: 200px;
  }
  i {
    padding: 5px 8px;
    margin: 0px 0 0px -35px;
    position: relative;
    top: 1px;
    color: #fff;
    background: $accent-bg-blue;
  }
}

#last{
  color: #fff;
  background:  #1a5079;
}

.menu-main a:hover{
  color: #fff;
  background:  #1a5079;
}


.hotels-filter-wrapper {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  width: 100%;
  background: $links-color;
  color: #c0e3f4;
  hr {
    margin: 25px 0 15px;
    border-top: 1px solid #fff;
  }
  h2{
    color: #fff;
    font-size: 1.8em;
  }
  .filter-search {
    >div {
      display: flex;
      align-items: center;
    }
    .form-group {
      margin-bottom: 0;
      width: 100%;
    }
  }
}

.footer{
  background: #262F36;
  overflow: hidden;
  width: 100%;
  padding:  15px 0;
  .copy {
    margin: 0;
  }
}
.find-holder{
  overflow: hidden;
  padding: 15px;
}
.find-holder p{
  margin: 8px 0;
}
.find-holder img{
  float: right;
  margin-top: 105px;
}
.find-holder-left{
  float: left;
}
.find-holder-center{
  float: left;
  padding: 0 50px;
}
#error{
  color: red;

}
.hotel-holder{
  min-height: 700px;
  background: #fff;
  padding: 0px 0;
  .hotel-item {
    margin-bottom: 10px;
    position: relative;
  }
  .content {
    padding-right: 25px;
    .description {
      text-align: justify;
    }
  }
  
  .footer-meta-data {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 40px 0 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .comfort-holer {
      font-size: 14px;
      color: $accent-orange;
    }
    .hotel-price {
      background: #ffa900;
      padding: 5px 20px;
      span {
        font-weight: bold;
      }
    }
  }
  .description {
    margin-bottom: 30px;
  }
  .class-hotel {
    .comfort-holer {
      display: inline-block;
      position: relative;
      top: -2px;
      .fa {
        font-size: 14px;
        color: $stars-color;
      }
    }
  }
}
.hotel-holder h2{
  margin: 0 15px;
  font-size: 1.7em;
}
.single-hot{
  overflow: hidden;
  padding: 20px 15px 30px;
  border-bottom: 1px dotted #B3C1C8;
  position: relative;

}
.single-hot a{
  float: left;
  margin: 0 15px 0 0;
  color: #61b7ea;
  font-size: 0.8em;
  max-width: 30%;
}
#countryA{
  margin: 0 5px 0 0;
}
.single-hot a:hover{
  text-decoration: none;
  color: #61b7ea;
}
.single-a{
  font-size: 1.5em!important;
  color: $links-color;
  margin: 5px 0!important;
  width: 77%;
  text-decoration: none;
  font-weight: bold;
}
.sp-m{
  line-height: 20px;
}
.display{
  color: #333;
  float: right;
  width: calc(70% - 15px);
}
.cena-d{
  position: absolute;
  bottom: 0;
  right: 15px;
}
.cena-d span{
  font-size: 1.8em;
  font-weight: bold;
  margin-left: 10px;
}
.cena-d p{
  font-size: 0.8em;
  color: #8796a5;
  margin: 0;
  padding-left: 100px;

}
.get-comf {
  display: none;
}
input[type=submit]{
  /*position: relative;
  border: none;
  background-color: transparent;
  bottom: -110px;
  right: -300px;
  overflow: hidden;
  cursor: pointer;
  height: 44px;
  width: 125px;
  background-image: url(../img/btn-find.png);*/
}
.search-bascet{
  position: absolute;
  background: #fff;
  width: 297px;
  top: 67px;
  left: 261px;
  min-height: 100px;
  border-radius: 10px;
  border: 1px solid #86A0BA;
  z-index: 100;
  padding: 10px;
}
.single-hotel{
  padding: 10px 0;
}
.single-hotel a{
  color: #333;
  text-decoration: none;
}
.single-hotel:hover{
  background: #E0F1FA;
}


.popups-holder {
  display: none;
}
.copyright {
  color: $desc-info;
  font-size: 12px;
  text-align: center;
}
.meta-title {
  font-weight: bold;
  font-size: 18px;
}
.meta-value {
  font-size: 14px;
  color: #003e58;
  font-weight: bold;
  &.stars-holder {
    font-size: 14px;
    color: $stars-color;
  }
  &.price-holder {
    .price {
      font-weight: bold;
      font-size: 17px;
    }
  }
}


/*======= Hotel Single =======*/
.testimonials-list-wrapper {
  margin-top: 20px;
  .title {
    text-align: center;
    margin-bottom: 30px;
  }
  .comment-item {
    background-color: rgb(247, 248, 251);
    margin-bottom: 20px;
    padding: 20px;
    .author {
      font-weight: bold;
      font-size: 22px;
    }
    .date {
      color: $stars-color;
      font-size: 12px;
    }
    .comment-text {
      font-size: 14px;
    }
  }
}


.hotel-single-wrapper {
  background-color: #fff;
  padding: 20px 20px;
  position: relative;
  .hotel-content {
    font-size: 18px;
    margin-top: 20px;
    text-align: justify;
    line-height: 1.2em;
  }
  .hotel-title {
    margin-bottom: 20px;
  }
  .info-basket-holder{
    overflow: hidden;
    background: #E0F1FA;
    padding: 20px 0;
    margin-top: 20px;
    em{
      display: block;
      overflow: hidden;
      padding: 2px 25px 10px;
    }
    .basket-title {
      display: block;
      font-size: 1.3em;
      font-weight: bold;
      overflow: hidden;
      padding: 0px 25px 10px 25px;
    }
    .advantages-holder {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .basket-single{
        width: 33.33333%;
        display: block;
        overflow: hidden;
        padding: 2px 25px 10px;
        text-align: left;
      }
      .basket-number{
        background: #6CAFE0;
        border-radius: 50%;
        color: #FFFFFF;
        display: inline-block;
        vertical-align: middle;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 30px;
        overflow: hidden;
        text-align: center;
        width: 30px;
        height: 30px;
        flex-shrink: 0;
      }
      .basket-single-r{
        float: left;
      }
      .basket-title-area {
        font-weight: bold;
        margin-bottom: 3px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        min-height: 50px;
        .basket-number {
          margin-right: 10px;
        }
      }
    }
  }


  .choice-tur{
    position: relative;
    width: 660px;
    background: #1D5B89;
    overflow: hidden;
    margin: 18px 0;
  }
  .choice-tur input{
    width: 125px;
  }
  .choice-tur p{
    color: #C0E3F4;
    font-weight: bold;
  }
  .choice-tur-top p{
    margin: 10px 15px 5px 15px;
  }
  .choice-tur-top input{
    margin: 5px 15px 10px 15px;
  }
  .choice-tur-top input[type=submit]{
    position: absolute;
    right: 10px;
    top: 25px;
  }
  .choice-tur-bot {
    background: #36719C;
    padding: 10px 0;
  }
  .choice-tur-bot  li{
    margin: 0 15px;
  }
  .choice-tur-bot  li:first-child{
    padding-left: 0 !important;
  }
}

.comments-form-wrapper {
  text-align: center;
  .form-holder {
    max-width: 600px;
    margin: 0 auto;
    label {
      display: block;
      text-align: left;
    }
  }
}
/*======= Hotel Single =======*/
