<nav class="main-menu">
    <div class="container">
        <ul class="nav">
            <li><a routerLink="hotels/archive" routerLinkActive="active">Hotels</a></li>
            <li><a routerLink="404">Tickets</a></li>
            <li><a routerLink="404">Services</a></li>
            <li><a routerLink="404">About company</a></li>
            <li><a routerLink="admin" routerLinkActive="active">Admin</a></li>
            <li><a routerLink="login" routerLinkActive="active">Login</a></li>
        </ul>
    </div>
</nav>
<div class="container">

    <div id="sample-panel" class="theme-green">
        <router-outlet></router-outlet>
    </div>
    <!--<div class="popups-holder">-->
        <!--<order-form></order-form>-->
    <!--</div>-->
</div>