<div class="hotel-holder">
    <div class='hotel-item' id="hotel-{{item.id}}" *ngFor="let item of hotels">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a routerLink="/hotels/{{item.id}}" >
                        <img src='{{item.thumbnail}}'>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="content">
                    <div class="meta-data">
                        <div class="title">
                            <a routerLink="/hotels/{{item.id}}" class="single-a"> {{item.title}}</a>
                        </div>
                        <div class="location-breadcrumbs">
                            <a routerLink="/hotels/" id='countryA'>{{item.country}}</a> >
                            <a routerLink="/hotels/" id='countryB'>{{item.whereabout}}</a>
                        </div>
                    </div>
                    <div class="description">
                        {{item.content}}
                    </div>
                    <div class="footer-meta-data">
                        <div class="class-hotel">
                            <span class="sp-m">Клас отеля</span>
                            <div class="comfort-holer" >
                                <i class="fa fa-star" *ngFor="let comfort of counterRaiting(item.comfort)"></i>
                            </div>
                        </div>
                        <div class="hotel-price">
                            от <span>{{item.price}}</span> грн.
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
